delete interfaces ethernet eth3
delete firewall flowtable FASTPATH interface eth3
delete firewall group interface-group WAN interface eth3
delete service dns dynamic name cloudflare address interface eth3
delete system flow-accounting netflow interface eth3
