{% include 'partials/deletes.j2' -%}

{% include 'partials/containers.j2' %}

{% include 'partials/firewall.j2' %}

{% include 'partials/interfaces.j2' %}

{% include 'partials/nat_routing.j2' %}

{% include 'partials/services.j2' %}

{% include 'partials/system.j2' %}
